@charset "UTF-8";
/* 전체 컨테이너 */
#container {
    width: 80%;
    margin: auto;
}

/* detail 섹션 */
#detail {
    display: flex;
    justify-content: space-between; /* 양쪽에 균등한 간격 */
    align-items: center; /* 수직 중앙 정렬 */
    margin-bottom: 20px;
}

#detail #detailImgContainer {
    flex: 1; /* 50% 차지 */
    display: flex;
    justify-content: center; /* 이미지 중앙 정렬 */
    align-items: center;
}

#detail #detailImg {
    max-width: 100%;
    height: auto;
    object-fit: cover;
}

#detail #detailInfo {
    flex: 1; /* 50% 차지 */
    align-items: center; /* 가로 가운데 정렬 */
    text-align: left;
}

/* character 클래스 */

#characterContainer {
    display: flex; /* Flexbox를 활성화 */
    justify-content: center; /* 가로 중앙 정렬 */
    flex-wrap: wrap; /* 행 넘침 시 줄바꿈 */
    gap: 1%; /* 아이템 간 간격 추가 */
    align-items: flex-start; /* 세로 정렬 시작 위치 */
    margin-top: 20px; /* 위 여백 추가 */
}

.character {
    display: inline-block; /* 인라인 블록으로 가로 배치 */
    width: 20%; /* 4개가 한 줄에 배치되도록 설정 */
    margin: 0.5%; /* 여백 추가 */   
    text-align: center; /* 텍스트 가운데 정렬 */
    vertical-align: top; /* 세로 정렬 기준 */
}

.character img {
    width: 100%;
    height: auto;
    border-radius: 8px;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}

/* Hover 효과 */
.character img:hover {
    transform: scale(1.1);
    cursor: pointer;
}

.character img:active {
    transform: scale(1.05);
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.3);
}
