@charset "UTF-8";

#container {
    width: 60%;
    margin: auto;
}

#info {
    display: flex;
    justify-content: space-between; /* Distribute space evenly */
    align-items: center; /* Vertical alignment */
    background-color: aqua;
}

#info > div {
    flex: 1; /* Equal width for each child */
    display: flex;
    justify-content: center; /* Center contents horizontally */
    align-items: center; /* Center contents vertically */
    height: 50px; /* Adjust height as needed */
    margin: 5px;
}

#info #hp {
    background-color: antiquewhite;
}

#info #level {
    background-color: aquamarine;
}

#info #score {
    background-color: azure;
}

#game {
    background-color: blue;
    margin-top: 10px;
    height: 600px; /* 게임 영역의 높이를 정의 */
    overflow: hidden; /* 게임 영역을 벗어나는 캐릭터가 보이지 않도록 설정 */
    position: relative; /* #game 영역의 기준을 설정 */
}

#character {
    position: absolute;
}

.hitbox {
    position: absolute;
    border: 2px dashed red; /* 히트박스 시각화 */
    pointer-events: none; /* 클릭 불가능하게 설정 */
    z-index: 1;
}